<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Cobranzas</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>💰 Sistema de Cobranzas Online</h1>
    <form action="/agregar" method="post">
        <input type="text" name="monto" placeholder="Monto en Guaraníes">
        <select name="metodo">
            <option>Efectivo</option>
            <option>Transferencia</option>
            <option>Tarjeta</option>
        </select>
        <input type="submit" value="Agregar">
    </form>
</body>
</html>
